/* section */
section {
	margin-top: 20px;
	margin-bottom: 30px;
}
section div {
	margin: auto;
}
@media only screen and (max-width: 360px) {
	body {
		min-width: 360px;
	}
}

.mainmenu {
	margin-bottom: 90px;
}

.menubar {
	background-color: #ffffff;
	padding: 10px 10px;
	text-align: center;
}

.menubar a {
	color: rgba(41, 41, 41, 0.68);
	text-decoration: none;
	font-weight: bold;
	font-size: 25px;
}

.menubar a:hover {
	color: rgba(73, 144, 231, 0.918);
}

.menubar h4 {
	margin: 8px 0px;
}

.circle {
	background-image: url("https://wallpaperaccess.com/full/277497.jpg");
	width: 50%;
	border-radius: 50%;
	border: 5px solid rgb(255, 255, 255);
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.3), 0 0 12px rgba(0, 0, 0, 0.4);
	background-size: cover;
	background-position: center;
	margin: 72px auto;
}
.circle:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}
