/* section */
section {
	margin-top: 20px;
	margin-bottom: 30px;
}
section div {
	margin: auto;
}
@media only screen and (max-width: 360px) {
	body {
		min-width: 360px;
	}
}

.mainmenu {
	margin-bottom: 90px;
}

.menubar {
	background-color: #ffffff;
	padding: 10px 10px;
	text-align: center;
}

.menubar a {
	color: rgba(41, 41, 41, 0.68);
	text-decoration: none;
	font-weight: bold;
	font-size: 25px;
}

.menubar a:hover {
	color: rgba(73, 144, 231, 0.918);
}

.menubar h4 {
	margin: 8px 0px;
}

.extra{
	height: 50vh;
	margin-bottom: 20px;
	background:#dfdfdf;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}
