/* section */
section {
	margin-top: 20px;
	margin-bottom: 30px;
}
section div {
	margin: auto;
}

.bg {
	background-image: url(../assets/images/sample2.jpg);
	width: 100%;
	height: 450px;
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.bg-1 {
	background-attachment: fixed;
}

.bg-2 {
	background-color: red;
	/* background-blend-mode: color; */
	/* background-blend-mode: saturation; */
	/* background-blend-mode: hue; */
	/* background-blend-mode: exclusion; */
	/* background-blend-mode: difference; */
	/* background-blend-mode: hard-light; */
	background-blend-mode: darken;
	/* background-blend-mode: screen; */
	/* background-blend-mode: darken; */
}

.bg-3 {
	border: 10px solid black;
	padding: 15px;
	background-clip: border-box;
}

.bg-4 {
	border: 10px solid black;
	padding: 15px;
	background-clip: padding-box;
}

.bg-5 {
	border: 10px solid black;
	padding: 15px;
	background-clip: content-box;
}

.bg-6 {
	border: 10px solid black;
	padding: 15px;
	background-origin: border-box;
}

.bg-7 {
	border: 10px solid black;
	padding: 15px;
	background-origin: padding-box;
}

.bg-8 {
	border: 10px solid black;
	padding: 15px;
	background-origin: content-box;
}

@media only screen and (max-width: 360px) {
	body {
		min-width: 360px;
	}
}
